@use "../../resources/abstract/mixins" as *;
@use "../../resources/abstract/colors" as *;
@use "../../resources/abstract/variables";

.creation-top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-wrap: wrap;

  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .topBar-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 1 1 350px;

    grid-gap: 20px;

    border-radius: 6px;

    padding: 1.3rem 1.3rem;

    transition: all 200ms;

    user-select: none;

    @include themify(variables.$themes) {
      border: 1px solid themed('borderColor');
    }

    .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      grid-gap: 20px;
    }

    .add-icon {
      fill: map-get($colors, 'text-color-secondary');
    }

    &:hover {
      cursor: pointer;
      transition: all 200ms;

      @include themify(variables.$themes) {
        background: themed('hoverColor');
      }
    }
  }
}

