@import "../abstract/mixins";
@import "../abstract/variables";

@import "typographie";

html, body {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

body {
  background: map-get($colors, "background");
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 48px 0 0 240px;

  @include media-down('sm') {
    margin: 48px 0 0 0;
  }
}

.page {
  margin: 30px 30px;
}

