@import "../abstract/mixins";
@import "../abstract/variables";

@import "typographie";

html, body {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

body {
  background: map-get($colors, "background");
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 48px 0 0 240px;
}

.page {
  margin: 30px 30px;
}

.page-navigation {
  .page-navigation-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 1.5rem;
    border-bottom: 1px solid map-get($colors, "border-color");

    .page-navigation-item {
      color: map-get($colors, "text-color-secondary");
      font-size: 14px;

      height: 100%;

      text-decoration: none;

      font-weight: 500;
      letter-spacing: .2px;
      padding: 1rem;

      cursor: pointer;
      transition: all 200ms;

      position: relative;

      &:only-child {
        &:after {
          display: none;
        }
      }

      &:hover {
        color: map-get($colors, "text-color-primary");
        transition: all 200ms;
      }

      &:after {
        content: "";
        width: 0;
        height: 2px;
        background: white;

        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 200ms;
      }

      &.active {
        color: map-get($colors, "text-color-primary");

        &:after {
          width: 100%;
          transition: all 200ms;
        }
      }
    }
  }
}