@use "../../resources/abstract/mixins" as *;
@use "../../resources/abstract/colors" as *;
@use "../../resources/abstract/variables";

.SideNavigation-wrapper {
  width: 240px;
  height: 100%;

  position: fixed;
  left: 0;
  top: 48px;

  z-index: 250;

  @include themify(variables.$themes2) {
    border-right: 1px solid rgba(themed('primary'), 0.1);
  }

  @include media-down('sm') {
    display: none;
  }

  .SideNavigation-hiddenMenu {
    width: 100%;
    height: fit-content;


    padding: .5rem 0;

    overflow: hidden;

    z-index: 99;
    transition: all 200ms;
    transform-origin: top;

    @include themify(variables.$themes2) {
      background: themed('background');
      border-bottom: 1px solid rgba(themed('primary'), 0.1);
    }

    .SideNavigation-section {
      margin: 0;
    }

    &.hide {
      border: none;
      max-height: 0;
      padding: 0;
      pointer-events: none;

      transform-origin: top;
    }
  }

  .SideNavigation {
    width: 240px;
    height: 100%;

    z-index: 100;


    @include themify(variables.$themes2) {
      background: themed('background');
      border-right: 1px solid rgba(themed("primary"), 0.1);
    }

    .SideNavigation-separator {
      height: 1px;
      margin: 15px 12px;

      @include themify(variables.$themes2) {
        background: rgba(themed('primary'), 0.1);
      }
    }

    .SideNavigation-section {
      margin: 10px 0;
    }
  }
}