@import "../../../../resources/abstract/variables";
@import "../../../../resources/abstract/mixins";

.editor-edit-sidebar {
  width: 240px;
  height: 100%;
  border-right: 1px solid map-get($colors, "border-color");

  position: fixed;
  left: 0;
  top: 48px;

  z-index: 100;
}