@import '../../abstract/variables';

.button {
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    background: rgba(255, 255, 255, .1);

    padding: .7rem 1rem;

    width: fit-content;


    transition: all 200ms;

    &-primary {
        background: map-get($colors, 'primary');
        transition: all 200ms;

        color: map-get($colors, "text-color-primary");

        &:hover {
            color: map-get($colors, "text-color-primary");
            background: lighten(map-get($colors, 'primary'), 3);
            transition: all 200ms;
        }
    }

    &-secondary {
        transition: all 200ms;

        color: map-get($colors, "text-color-secondary");

        &:hover {
            color: map-get($colors, "text-color-primary");
            background: rgba(255, 255, 255, .2);
            transition: all 200ms;
        }
    }

    &-link {
        padding: 0;
        width: auto !important;
        font-size: 16px;

        height: fit-content;
        background: transparent;

        text-decoration: underline;
    }

    &-white {
        background: white;
        color: black;

        &:hover {
            background: #f4f4f4;
            transition: all 200ms;
        }
    }

    &-icon {
        width: fit-content;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: .5rem;

        transition: all 200ms;

        svg {
            width: 20px;
            height: 20px;

            fill: rgba(255, 255, 255, .7);
            transition: all 200ms;
        }

        &:hover {
            background: rgba(255, 255, 255, .15);
            transition: all 200ms;

            svg {
                fill: rgba(255, 255, 255, 1);
                transition: all 200ms;
            }
        }
    }
}

.form-submit {
    padding: 0;
    height: 45px;

    background: map-get($colors, 'primary');

    &:hover {
        background: darken(map-get($colors, 'primary'), 10);
        transition: all 200ms;
    }
}