@use "../../../resources/abstract/colors" as *;

@import "../../../resources/abstract/variables";
@import "../../../resources/abstract/mixins";

.page-navigation {
  position: sticky;
  top: 48px;

  //background: map-get($colors, "background");

  backdrop-filter: blur(2px);

  .page-navigation-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    grid-gap: 30px;

    padding: 0 30px;
    border-bottom: 1px solid map-get($colors, "border-color");

    .page-navigation-item {
      color: map-get($colors, "text-color-secondary");
      font-size: 14px;

      height: 100%;

      text-decoration: none;

      font-weight: 500;
      letter-spacing: .2px;
      padding: 1rem 0;

      cursor: pointer;
      transition: all 200ms;

      position: relative;

      &:only-child {
        &:after {
          display: none;
        }
      }

      &:hover {
        color: map-get($colors, "text-color-primary");
        transition: all 200ms;
      }


      &.active {
        color: map-get($colors, "text-color-primary");
      }
    }
  }
}