@import "../../../resources/abstract/mixins";
@import "../../../resources/abstract/variables";

.sidebar {
  width: 240px;
  height: 100%;
  border-right: 1px solid map-get($colors, "border-color");

  position: fixed;
  left: 0;
  top: 48px;

  .sidebar-separator {
    height: 1px;

    background: map-get($colors, 'border-color');

    margin: 15px 12px;
  }

  .sidebar-cta {
    width: 100%;
    height: 32px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 10px;

    padding: 7px 10px;

    text-decoration: none;
    color: map-get($colors, "text-color-secondary");
    transition: all 200ms;

    p {
      font-size: 12px;
      text-decoration: none;
      margin: 3px 0;
      color: map-get($colors, "text-color-secondary");

      user-select: none;
      transition: all 200ms;

      width: 100%;
    }

    .on-hover-cta {
      display: none;
      align-items: center;
      justify-content: center;

      .icon {
        width: 20px;
        height: 20px;
        color: map-get($colors, "text-color-secondary");
      }

      &:hover {
        border-radius: 5px;
        cursor: pointer;
        transition: all 200ms;

        .icon {
          color: map-get($colors, "text-color-primary");
          transition: all 200ms;
        }
      }
    }

    .icon {
      width: 18px;
      height: 18px;
      user-select: none;
    }

    &.active {
      background: map-get($colors, "primary");
      color: map-get($colors, "text-color-primary");

      p {
        color: map-get($colors, "text-color-primary");
        transition: all 200ms;
      }

      transition: all 200ms;

      &:hover {
        background: darken(map-get($colors, "primary"), 5);
      }
    }

    &:hover {
      cursor: pointer;
      background: map-get($colors, "border-color");
      color: map-get($colors, "text-hover");

      p {
        color: map-get($colors, "text-hover");
        transition: all 200ms;
      }

      .on-hover-cta {
        display: flex;
      }

      transition: all 200ms;
    }
  }

  .sidebar-section {

    &:first-child {
      margin: 10px 0;
    }
  }
}