.entry-page {
  width: 100%;

  .entry-page-head {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .05);

    height: 70px;

    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    grid-gap: 10px;

    .button-primary {
      height: 36px;

      padding: 0 1.4rem;

      display: flex;
      align-items: center;
      justify-content: center;

      letter-spacing: .2px;
    }
  }

  .editor-section {
    height: calc(100vh - 70px);
    padding: 40px;

    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #editor {
    color: white;

    max-width: 100%;
    max-height: 100%;

    .ce-block__content,
    .ce-toolbar__content {
      max-width: calc(100% - 80px);
    }
  }
}