@use "../../../resources/abstract/colors";
@use "../../../resources/abstract/mixins";

.timeline-card {
  width: 100%;

  border-radius: 5px;

  position: relative;

  color: map-get(colors.$colors, 'textColor-primary');

  border-bottom: 1px solid lighten(map-get(colors.$colors, 'background'), 5);

  padding: 1rem 0;
  transition: all 200ms;

  /*&:hover {
    background: darken(map-get(colors.$colors, 'background'), 5);
    cursor: pointer;

    padding: 1rem;

    transition: all 200ms;
  }*/


  &:last-child {
    border: none;
  }


  .content {
    display: grid;
    grid-gap: 8px;

    .card-title {
      font-weight: 400;
      font-size: 16px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card-text {
      color: map-get(colors.$colors, 'textColor-secondary');
      font-weight: 300;
      line-height: 1.4;
      font-size: 14px;

      a {
        color: map-get(colors.$colors, 'textColor-primary');
        font-weight: 400;
      }
    }

    .timestamp {
      color: map-get(colors.$colors, 'textColor-secondary');
      font-weight: 400;
      line-height: 1.4;
      font-size: 12px;
    }
  }
}