@use "../../../resources/abstract/mixins" as *;
@use "../../../resources/abstract/variables";

.notification-sidebar {
  .head {
    padding: 0 0 1rem 0;
    display: grid;
    grid-gap: 8px;

    @include themify(variables.$themes) {
      border-bottom: 1px solid themed('borderColor');
    }

    &-title {
      font-weight: 400;

      @include themify(variables.$themes) {
        color: themed('textColorPrimary');
      }
    }

    &-text {
      font-weight: 300;
      font-size: 14px;

      @include themify(variables.$themes) {
        color: themed('textColorSecondary');
      }
    }
  }

  .notifications {
    display: grid;
    grid-gap: 0;

    margin-top: 20px;
  }
}

