@use "../../../resources/abstract/mixins" as *;
@use "../../../resources/abstract/variables";

.notification-card {
  width: 100%;
  position: relative;
  padding: 1.4rem 20px;
  transition: all 200ms;

  display: flex;
  flex-direction: column;
  grid-gap: 10px;

  @include themify(variables.$themes) {
    // background: rgba(themed('textColorPrimary'), .03);
    color: themed('textColorPrimary');
    border-bottom: 1px solid themed('borderColor');
  }

  &-head {
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;

    .block {
      width: 100%;

      .card-title {
        font-weight: 400;
        font-size: 16px;

        display: flex;
        flex-direction: column;

        grid-gap: 5px;
      }

      .timestamp {
        font-weight: 300;
        line-height: 1.4;
        font-size: 12px;
        white-space: nowrap;

        @include themify(variables.$themes) {
          color: themed('textColorSecondary');
        }
      }
    }

    .notification-card-icon {
      min-width: 40px;
      height: 40px;

      border-radius: 50px;

      @include themify(variables.$themes) {
        background: rgba(themed('textColorPrimary'), .03);
      }
    }

    .close-notification {
      @include themify(variables.$themes) {
        color: rgba(themed('textColorSecondary'), 0.2);
        transition: color 200ms;
      }

      &:hover {
        cursor: pointer;

        @include themify(variables.$themes) {
          color: rgba(themed('textColorSecondary'), 1);
          transition: color 200ms;
        }
      }
    }
  }

  &-body {
    display: grid;
    grid-gap: 8px;

    .card-text {
      font-weight: 300;
      line-height: 1.4;
      font-size: 15px;

      @include themify(variables.$themes) {
        color: themed('textColorSecondary');
      }

      a {
        font-weight: 400;

        @include themify(variables.$themes) {
          color: themed('textColorPrimary');
        }
      }
    }

  }
}