$breakpoints: (
        xs: 32rem,
        sm: 57.5rem,
        md: 76.8rem,
        lg: 1025px,
        ws: 120rem,
        hd: 138rem,
        xl: 192rem
);

$themes: (
        light: (
                background: white,
                hightlightColor: darken(white, 5),
                primary: #4A5878,
                hoverColor: #f4f4f4,
                borderColor: rgba(black, .1),
                textColorPrimary: black,
                textColorSecondary: rgba(black, .6),
        ),
        dark: (
                background: #2C2C2C,
                hightlightColor: lighten(#2C2C2C, 10),
                primary: #4A5878,
                hoverColor: #383838,
                borderColor: rgba(white, .1),
                textColorPrimary: white,
                textColorSecondary: rgba(white, .6),
        )
);