$breakpoints: (
        xs: 32rem,
        sm: 57.5rem,
        md: 76.8rem,
        lg: 1025px,
        ws: 120rem,
        hd: 138rem,
        xl: 192rem
);

$colors: (
        "background": #2C2C2C,
        "primary": #4A5878,
        "hover-color": #383838,
        "border-color": rgba(255, 255, 255, .1),
        "text-color-primary": white,
        "text-hover": rgba(255, 255, 255, .8),
)