@use "../../abstract/colors";
@use "../../abstract/mixins";

.primary-button {
  background: map-get(colors.$colors, 'primary');
  color: map-get(colors.$colors, 'textColor-primary');

  transition: background 200ms, color 200ms;

  &:hover {
    background: lighten(map-get(colors.$colors, 'primary'), 5);
    color: map-get(colors.$colors, 'textColor-primary');

    transition: background 200ms, color 200ms;
  }

  &-125 {
    background: rgba(map-get(colors.$colors, 'primary'), 0.5);


    &:hover {
      background: map-get(colors.$colors, 'primary');
      color: map-get(colors.$colors, 'textColor-primary');
    }
  }
}