@use "../../abstract/colors" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/variables";

.secondary-button {
  transition: background 200ms, color 200ms;

  @include themify(variables.$themes) {
    color: themed('textColorSecondary');
    background: rgba(themed('hoverColor'), .8);
  }

  &:hover {
    transition: background 200ms, color 200ms;

    @include themify(variables.$themes) {
      color: themed('textColorPrimary');
      background: rgba(themed('hoverColor'), 1);
    }
  }
}