@use "../../abstract/mixins" as *;
@use "../../abstract/colors" as *;
@use "../../abstract/variables";

// IMPORT OTHER BUTTON TYPES
@use 'button_primary';
@use 'button_secondary';
@use 'button_icon';

@use 'dropdown_button';

button {
  width: fit-content;
  height: auto;

  outline: none;
  border: none;
  border-radius: 3px;

  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  padding: .6rem 1rem;

  background: transparent;

  cursor: pointer;

  transition: background 200ms;

  @include themify(variables.$themes) {
    color: themed('textColorSecondary');
  }

  &.primary {
    background: map-get(variables.$themes, 'primary');
  }


}