@use "../../abstract/colors";
@use "../../abstract/mixins";

// IMPORT OTHER BUTTON TYPES
@use 'button_primary';
@use 'button_secondary';
@use 'button_icon';

@use 'dropdown_button';

button {
  width: auto;
  height: auto;

  outline: none;
  border: none;

  background: map-get(colors.$colors, 'textColor-hover');
  color: map-get(colors.$colors, "textColor-secondary");

  font-weight: 500;
  letter-spacing: .2px;

  cursor: pointer;

  transition: background 200ms;

  &:hover {
    background: map-get(colors.$colors, 'border-color');
    transition: background 200ms;
  }
}

.button {
  padding: .7rem 1rem;
  border-radius: 4px;
}