@use "../../abstract/colors" as *;
@use "../../abstract/mixins" as *;
@use "../../abstract/variables";

.primary-button {
  transition: background 200ms, color 200ms;

  @include themify(variables.$themes) {
    color: themed('textColorPrimary');
    background: themed('primary');
  }

  &:hover {
    transition: background 200ms, color 200ms;

    @include themify(variables.$themes) {
      color: themed('textColorPrimary');
      background: lighten(themed('primary'), 5);
    }
  }

  &-125 {
    @include themify(variables.$themes) {
      background: rgba(themed('primary'), .5);
    }

    &:hover {
      @include themify(variables.$themes) {
        color: themed('textColorPrimary');
        background: themed('primary');
      }
    }
  }
}