@use "../../abstract/mixins" as *;
@use "../../abstract/colors" as *;
@use "../../abstract/variables";

// IMPORT OTHER BUTTON TYPES
@use 'button_primary';
@use 'button_secondary';
@use 'button_icon';

@use 'dropdown_button';

button {
  width: fit-content;
  height: auto;

  outline: none;
  border: none;
  border-radius: 3px;

  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  padding: .6rem 1rem;

  cursor: pointer;

  transition: background 200ms;

  @include themify(variables.$themes) {
    background: darken(themed('background'), 5);
    color: themed('textColorSecondary');
  }

  &.button-transparent {
    background: transparent;

    &:hover {
      background: lighten(map-get($colors, 'background'), 5);
      transition: background 200ms;
    }
  }

  &.cube-48 {
    padding: 0;
    width: 48px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.full-height {
    height: 100%;
    border-radius: 0;
  }

  &:hover {
    background: map-get($colors, 'border-color');
    transition: background 200ms;
  }
}

.button {
  padding: .7rem 1rem;
  border-radius: 4px;
}