@use '../../abstract/mixins' as *;
@use '../../abstract/colors' as *;
@use '../../abstract/variables';

.dropdown-button {
  width: 100%;
  background: transparent !important;

  border-radius: 0;
  padding: .5rem .8rem;

  font-size: 14px;

  min-width: 120px;
  text-align: left;

  svg {
    width: 18px;
    height: 18px;
  }

  &:hover {
    @include themify(variables.$themes) {
      background: darken(themed('primary'), 8) !important;
    }
    color: white;
  }
}