@use "../../../../resources/abstract/mixins" as *;
@use "../../../../resources/abstract/colors" as *;
@use "../../../../resources/abstract/variables";

.SideNavigation-section {
  .sidebar-item {
    .onHover {
      width: 32px;
      height: 32px;

      position: absolute;
      right: 0;
      top: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      opacity: 0;
      transition: all 100ms;

      .hover-icon {
        width: 20px;
        height: 20px;
        color: map-get($colors, "text-color-secondary");
      }

      &:hover {
        background: map-get($colors, "border-color");
        transition: all 200ms;

        .hover-icon {
          color: map-get($colors, "text-color-primary");
          transition: all 200ms;
        }
      }
    }
    
    &:hover {
      .onHover {
        opacity: 1;
        transition: all 300ms;
      }
    }
  }

  .cta-action {
    max-height: 0;
    overflow: hidden;

    transition: all 200ms;

    @include themify(variables.$themes) {
      background: darken(themed('background'), 5);
    }

    &[data-open="true"] {
      max-height: 32px;
      overflow: hidden;
      transition: all 200ms;
    }

    .dropdown-item {
      padding: 0 1rem;

      .input {
        background: transparent;
        height: 100%;

        font-size: 13px;
        font-weight: 400;
        color: white;

        &::placeholder {
          font-weight: 400;
        }
      }

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }
}

.sidebar-item, .dropdown-item {
  width: 100%;
  height: 32px;

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 10px;

  padding: 0 0 0 10px;
  cursor: pointer;

  text-decoration: none;

  transition: all 200ms;

  @include themify(variables.$themes) {
    color: themed('textColorSecondary');
  }

  &[data-disabled="true"] {
    display: none;
    pointer-events: none;
  }

  .item-text {
    font-size: 12px;
    text-decoration: none;
    color: map-get($colors, "text-color-secondary");
    user-select: none;

    transition: all 200ms;
  }

  .item-icon {
    width: 18px;
    height: 18px;
    user-select: none;
  }

  &:hover {
    background: map-get($colors, "border-color");
    color: map-get($colors, "text-hover");
    transition: background 200ms, color 200ms;

    @include themify(variables.$themes) {
      background: themed('hoverColor');
    }
  }

  &.active {
    color: white;
    transition: all 200ms;

    @include themify(variables.$themes) {
      background: themed("primary");
    }

    .item-text {
      color: white;
      transition: all 200ms;
    }

    &:hover {
      background: darken(map-get($colors, "primary"), 5);
    }
  }
}

