@import '../abstract/mixins';
@import '../abstract/variables';

.dropdown {
    z-index: 100;
    display: none;

    width: 200px;
    height: 200px;

    position: absolute;
    right: -50px;
    top: 42px;

    background: map-get($colors, 'background');
    border-radius: 6px;
    border: 1px solid map-get($colors, 'border-color');

    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.dropdown[data-open="true"] {
    display: unset;
}