@import '../abstract/mixins';
@import '../abstract/variables';

.dropdown-wrapper {
    position: relative;
}

.dropdown {
    z-index: 1001;

    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

    user-select: none;

    position: absolute;
    left: 0;
    top: calc(100% + 10px);

    background: lighten(map-get($colors, 'background'), 2);
    border-radius: 6px;
    border: 1px solid map-get($colors, 'border-color');

    box-shadow: 0 0 10px rgba(0, 0, 0, .3);

    width: calc(100% - 20px);
    height: auto;

    margin: 0 10px;

}

.dropdown[data-open="true"] {
    opacity: 1;
    transform: translateY(0);

    pointer-events: auto;
    transition: all 200ms;
}