@import '../abstract/variables';

.separator {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  span {
    background: map-get($colors, "background");
    padding: 0 .5rem;

    font-size: 13px;
    font-weight: 600;
    color: rgba(255, 255, 255, .7);

    z-index: 2;
  }

  &:after {
    content: "";
    width: 100%;
    position: absolute;

    height: 1px;
    background: rgba(255, 255, 255, .1);

    z-index: 1;
  }
}