@use "../../resources/abstract/colors" as *;
@use "../../resources/abstract/mixins" as *;
@use "../../resources/abstract/variables";

.select-input {
  border-radius: 5px;

  margin: 1rem 0 0 0;

  padding: .4rem;

  @include themify(variables.$themes) {
    background: darken(themed('background'), 5);
  }

  .viewport {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .value {
      display: flex;
      grid-gap: 5px;

      .option-badge {
        transition: all 200ms;

        display: flex;
        align-items: center;
        justify-content: center;

        grid-gap: 5px;

        padding: .5rem;

        @include themify(variables.$themes) {
          color: themed('textColorSecondary');
          background: darken(themed('background'), 15);
        }

        &:hover {
          cursor: pointer;
          transition: all 200ms;

          @include themify(variables.$themes) {
            color: themed('textColorPrimary');
            background: darken(themed('background'), 10);
          }
        }
      }
    }

    .clear-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      background: transparent;
      transition: all 200ms;

      padding: .45rem;

      @include themify(variables.$themes) {
        color: themed('textColorSecondary');
      }

      &:hover {
        transition: all 200ms;

        @include themify(variables.$themes) {
          color: themed('textColorPrimary');
          background: darken(themed('background'), 5);
        }
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .options {
    .option {}
  }
}