@use "../../abstract/mixins" as *;
@use "../../abstract/colors" as *;
@use "../../abstract/variables";


input[type="submit"] {
  padding: .9rem 0;
  cursor: pointer;

  color: white;

  @include themify(variables.$themes) {
    background: darken(themed('primary'), 10);
  }

  &:hover {
    @include themify(variables.$themes) {
      background: darken(themed('primary'), 12);
    }
  }
}