@use "../../abstract/mixins" as *;
@use "../../abstract/colors" as *;
@use "../../abstract/variables";

.input-label {
  display: grid;
  grid-gap: 10px;

  label {
    font-size: 13px;
    letter-spacing: .2px;

    @include themify(variables.$themes) {
      color: themed('textColorSecondary');
    }
  }

  input {
    padding: .8rem 1rem;
  }
}