.editor-container {
  margin: 48px 340px 0 240px;
  max-width: calc(100% - 240px - 340px);
  color: #000;
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;

  .editor-inner {
    position: relative;

    .editor-input {
      padding: 1rem;
      outline: none;
    }

    .editor-placeholder {
      color: #999;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      top: 15px;
      left: 1rem;
      font-size: 15px;
      user-select: none;
      display: inline-block;
      pointer-events: none;
    }
  }
}

i.bold {
  background-image: url("https://5tncvy.csb.app/images/icons/type-bold.svg");
  fill: white;
}