@use "../../resources/abstract/mixins" as *;
@use "../../resources/abstract/colors" as *;
@use "../../resources/abstract/variables";

.navigation {
  width: 100%;
  height: 48px;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;

  @include themify(variables.$themes) {
    border-bottom: 1px solid themed('borderColor');
    background: themed('background');
  }

  @include media-down('sm') {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
  }

  .mobile-menu {
    width: 48px;
    height: 48px;

    display: none;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 200ms;

    @include themify(variables.$themes) {
      border-right: 1px solid themed('borderColor')
    }

    @include media-down('sm') {
      display: flex;
    }

    svg {
      transition: all 200ms;

      @include themify(variables.$themes) {
        fill: themed('textColorSecondary');
      }
    }

    &:hover {
      transition: all 200ms;

      @include themify(variables.$themes) {
        fill: themed('hoverColor');
      }

      svg {
        transition: all 200ms;

        @include themify(variables.$themes) {
          fill: themed('textColorPrimary');
        }
      }
    }
  }

  &-user {
    width: 240px;
    height: 100%;

    padding: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    grid-gap: 10px;
    transition: all 200ms;

    position: relative;

    @include themify(variables.$themes) {
      border-right: 1px solid themed("borderColor");
    }

    @include media-down('sm') {
      display: none;
    }

    .content {
      display: grid;
      grid-gap: 2px;

      width: 100%;

      p {
        user-select: none;
        cursor: pointer;
      }

      .content-username {
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
        color: map-get($colors, 'textColor-primary');

        @include themify(variables.$themes) {
          color: themed('textColorPrimary');
        }
      }

      .content-email {
        font-size: 11px;
        font-weight: 400;

        @include themify(variables.$themes) {
          color: themed('textColorSecondary');
        }
      }
    }

    &:hover {
      cursor: pointer;

      transition: all 200ms;

      @include themify(variables.$themes) {
        background: themed("hoverColor");
      }
    }
  }

  svg {
    @include themify(variables.$themes) {
      color: themed('textColorSecondary');
    }
  }

  .logo-icon {
    width: 25px;
    height: 25px;
  }

  .arrow-down {
    width: 16px;
    height: 16px;
    transition: all 200ms;
  }

  &-center {
    width: 100%;

    .search-input {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      background: transparent;
      border-radius: 5px;

      padding: 0 1rem;

      input[type="text"] {
        padding: .7rem .5rem;
        background: transparent;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &-right {
    width: auto;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    @include themify(variables.$themes) {
      border-left: 1px solid themed("borderColor");
    }

    .user-icon {
      width: auto;
      height: 100%;

      padding: 0 1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 5px;

      user-select: none;
      cursor: pointer;

      .logo-icon {
        width: 24px;
        height: 24px;
      }

      &:hover {
        transition: all 200ms;

        @include themify(variables.$themes) {
          background: themed("hoverColor");
        }
      }
    }

    .navigation-icon {
      width: auto;
      height: 100%;
      padding: 0 1rem;

      display: flex;
      align-items: center;
      justify-content: center;

      user-select: none;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        transition: all 200ms;

        @include themify(variables.$themes) {
          background: themed("hoverColor");
        }
      }
    }
  }
}